<div class="col-lg-4 col-md-4 col-sm-12">
  <div class="price_bx">
    <div class="head_price text-center">
      <h3>{{ .name | upper }}</h3>
    </div>
    <div class="mid_price">
      <div class="ul_bx featured">
        <ul class="featured ul">
          {{ range first .this.Site.Params.featured.size .elements }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
        <div class="rw text-center"><a href="{{ .Permalink }}" class="btn btn_1 green_btn">{{ printf "View all %s" .name | upper }}</a></div>
      </div>
    </div>
  </div>
</div>
