{{ define "content" }}

<div class="about">
    <div class="about-main-section">
      <div class="container">
          <h1>About</h1>
          <div class="row">
              <div class="col-xs-12 top-text">
                <p>The Open Security Summit 2018 is focused on the <b>collaboration</b> between <b>Developers</b> and <b>Application Security</b>.</p>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-3">
                <img class="img-responsive" src="/img/blocks/collaboration.png" alt="collaboration" />
              </div>
              <div class="col-xs-9">
                <p>Using the same model as the previous OWASP Summits, this 5-day event will be a high-energy experience, during which attendees get the chance to work and collaborate intensively. This is not a conference with uni-directional presentations. Every thoroughly prepared working session is geared towards a specific Application Security challenge and will be focused on actionable outcomes.</p>
                <p>If you care about Application Security and want to collaborate with the key players in this industry, this is the event to be at.</p>
              </div>
         </div>
          <div class="why-attend">
            <h2>Why Attend</h2>
            <div class="row border-at-bottom">
              <div class="col-xs-1 plus-col">
                <img class="plus-box" src="/img/blocks/cube.png" alt="cube" />
              </div>
              <div class="col-xs-10">
                <p>The summit will bring together leading figures from OWASP, security, development, government agencies and vendor companies.</p>
                </div>
            </div>
            <div class="row border-at-bottom">
              <div class="col-xs-1 plus-col">
                <img class="plus-box" src="/img/blocks/cube.png" alt="cube" />
              </div>
              <div class="col-xs-10">
                <p>Collaborate in working sessions to tackle some of the hardest security problems we are facing in 2018 and create actionable solutions.</p>
                </div>
            </div>
            <div class="row border-at-bottom">
              <div class="col-xs-1 plus-col">
                <img class="plus-box" src="/img/blocks/cube.png" alt="cube" />
              </div>
              <div class="col-xs-10">
                <p> Connect with like-minded individuals who are passionate about AppSec, get chatting over breakfast, lunch or dinner, during summit activities, or at the end of summit party.</p>
               </div>
            </div>
          <div class="row">
            <div class="col-xs-1 plus-col">
              <img class="plus-box" src="/img/blocks/cube.png" alt="cube" />
             </div>
            <div class="col-xs-10">
              <p> Take advantage of the unique summit venue at Woburn Forest Center Parcs, an environment designed for maximum geek-time, synergies and collaboration.</p>
              </div>
          </div>
        </div>
      <br />
</div>

{{ end }}
