{{ define "content" }}

<div class="get-your-ticket">
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>We have 3 types of tickets available at the Summit, please see below for details.</p>
      <h4>Group Discount (for the 5 day tickets)</h4>
      <ul>
        <li>If you buy 5 to 9 tickets you get 10% discount</li>
        <li>If you buy more than 10 tickets you get 20% discount</li>
      </ul>
      <h4>Buy using invoice</h4>
      <ul>
        <li>If you want to purchase via an invoice or more than 4 tickets please contact <a href='mailto:francois@devseccon.com'>Francois Raynaud</a></li>
      </ul>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="flexbox">
      {{ range $index, $ticket := sort .Site.Data.tickets "weight" }}
      <div class="ticket">
        <div class="ticket-box {{ if eq (mod $index 2) 0 }}green-box{{ else }}blue-box{{ end }}">
          <div class="ticket-type">{{ $ticket.type }}</div>
          <div class="price">&pound;{{ $ticket.cost }}*<span class="currency">GBP</span></div>
          <div class="small">* plus fee and VAT</div>
          <div class="ticket-duration">{{ $ticket.duration }}</div>
          {{ range $ticket.description }}
          <div class="fa fa-check"><span class="item">{{ . }}</span></div><br/>
          {{ end }}
        </div>
        <div class="{{ if eq (mod $index 2) 0 }}green-box{{ else }}blue-box{{ end }}">
          <div class="buy-ticket"><a href="{{ $ticket.buy }}" class="btn btn-primary">Buy Ticket</a></div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
</div>
{{ end }}
