{{ define "content" }}

  <div class="participant">
      <div class="participant-main-section">
        <div class="container">
        {{ if .Params.job_title}}
          <h3>{{ .Params.job_title }}{{ with .Params.company }}, {{ . }}{{ end }}</h3>
        {{ else }}
          <h3>{{ .Params.company }} </h3>
        {{ end }}

        {{ with .Params.image }}
        <img class="black-and-white participant" src="{{ . }}" alt="" />
        {{ end }}

        {{ .Content }}

        {{ partial "participant/contact-details.html" . }}

        <br />
        <!--<h3>(for Working Sessions organisers)</h3>-->

        <!--<p>To invite {{ .Title }} to your Working Session use &#32;-->
            <!--<code class="highlighter-rouge">invited: {{ .Title }}</code>-->

        <!--<hr />-->
        <p>Back to list of <a href='/participant/'>all Participants</a></p>
      </div>
    </div>
</div>
{{ end }}
