---
title        : SAMMv2 working session - Verification
type         : working-session
track        : OWASP SAMM
locked       : true
technology   :
categories   :                      # GDPR, Juice Shop, etc.
featured     :                    # review with summit team "yes"
when_day     : Wed
when_time    : PM-1
room_layout  :                    #
room_id      : Villa-4
session_slack: https://os-summit.slack.com/messages/CAVDG3ZT4
status       : review-content              # draft, review-content, done
description  : multiple working sessions on the new SAMMv2
organizers   :
    - Sebastien Deleersnyder
participants:
    - Yan Kravchenko
    - Mark-David McLaughlin
---

One working session per business function.
1) Review the draft business function.
2) Identify received and on-site feedback (capture as issues).
3) Discuss and resolve the business function issues.
4) Create one Issue per business function with the agreed upon changes to be implemented.
