{{ $pages := where .self.Site.Pages ".Params.when_day" "in" .day }}

{{ range $pages }}
    {{ if .Params.room_id }}
        {{if eq  (printf "%T"  .Params.room_id) "string" }}
            {{ $.self.Scratch.Add .Params.room_id   (slice .) }}
            {{ if .Params.when_time }}
                {{ $.self.Scratch.Add .Params.when_time (slice .) }}
            {{ else }}
                {{ $.self.Scratch.Add "no time" (slice .) }}
            {{ end }}
        {{ end }}
    {{ else }}
        {{ $.self.Scratch.Add "no room" (slice .) }}
    {{  end }}
{{ end }}

{{ partial "schedule/by-room/location.html" (dict "self" .self "location" "Conference Rooms" "where" .self.Site.Data.schedule.rooms "times" (slice "AM-1" "PM-1" "PM-2" "PM-3") )}}

{{ partial "schedule/by-room/location.html" (dict "self" .self "location" "Main conference Hall" "where" .self.Site.Data.schedule.main_hall "times" (slice "KN-1" "KN-2" "DS-1" "DS-2" "DS-3" ) )}}

{{ partial "schedule/by-room/location.html" (dict "self" .self "location" "Villas" "where" .self.Site.Data.schedule.villas "times" (slice "AM-1" "PM-1" "PM-2" "PM-3" "Eve-1" "Eve-2") )}}
