<style>
    .schedule-location h2 {
        border : 5px solid;
        padding: 10px;
    }
</style></styke>

<div class="schedule-location">
    <h2> {{.location}} </h2>
</div>


<table class="table">
    <thead>
    <th class="schedule-by-track-row-time"></th>
    {{ range $key ,$value := .where}}
    <th>
        <div class="schedule-by-track-cell-room-name">
            {{ $value.title}}
            <div class="schedule-by-track-cell-room-id">
                {{ $value.topic}}
            </div>
        </div>
        <!--<div class="schedule-by-track-cell-room-id">{{$key}}</div>-->
    </th>
    {{ end }}
    </thead>
    {{range .times }}
        {{ partial "schedule/by-room/row.html" (dict "self" $.self "where" $.where "time" . )}}
    {{end }}
</table>