/* your styles go here */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('/fonts/y7lebkjgREBJK96VQi37Zogp9Q8gbYrhqGlRav_IXfk.woff2') format('woff2'), url('/fonts/Roboto-Slab-Regular.woff') format('woff');
  unicode-range: U + 0000 -00FF, U + 0131 , U + 0152 -0153, U + 02 C6, U + 02 DA, U + 02 DC, U + 2000 -206F, U + 2074 , U + 20 AC, U + 2212 , U + 2215;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local('Oswald Medium'), local('Oswald-Medium'), url('/fonts/oswald-medium-webfont.woff2') format('woff2'), url('/fonts/oswald-medium-webfont.woff') format('woff');
  unicode-range: U + 0000 -00FF, U + 0131 , U + 0152 -0153, U + 02 C6, U + 02 DA, U + 02 DC, U + 2000 -206F, U + 2074 , U + 20 AC, U + 2212 , U + 2215;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  src: local('Oswald Regular'), local('Oswald-Regular'), url('/fonts/oswald-regular-webfont.woff2') format('woff2'), url('/fonts/oswald-regular-webfont.woff') format('woff');  
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: bold;
  src: local('Oswald Bold'), local('Oswald-Bold'), url('/fonts/oswald-bold-webfont.woff2') format('woff2'), url('/fonts/oswald-bold-webfont.woff') format('woff');  
}

body * {
    font-family: 'Roboto Slab', serif;
}

body h3 {
  font-family: 'Oswald';
  color: #00549E;
}
body h4 {  color: #00549E;
}

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
  font-family: 'Oswald';
  color: #00549E;
  border-color: #98c1df;
}
 
.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

a.nav {
	font-family: 'oswald';
  font-weight: normal;
}

header.full-bg {
  position: relative;
  background: url(../img/photogrid.jpg) center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;    
}

header.full-bg .home-carousel {
  background: none;
}

header.full-bg .navbar-default {
  background: transparent;
}

header.full-bg .dark-mask {
  opacity: 0.9;
  filter: alpha(opacity=90);
  background: #082451;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-affixed-top.affix .navbar-default {
  background-color: #ffffff;
}

/* change navbar style */
.navbar ul.nav > li > a {
  color: #87bb40;
  text-decoration: none;
  border-bottom: solid 4px transparent;
  border-top: 0 none;
}

.navbar ul.nav > li > a:hover {
  border-top: 0 none;
  border-bottom: 4px solid #87bb40;
}
.navbar ul.nav > li.active > a,
.navbar ul.nav > li.open > a {
  text-decoration: none !important;
  border-top: 0 none;
  border-bottom: 4px solid #87bb40;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: rgba(135, 187, 64, .2);
  border-bottom: 4px solid #87bb40;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: rgba(135, 187, 64, .2);
  border-bottom: 4px solid #87bb40;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(135, 187, 64, .2);
  color: #ffffff;
  border-bottom: 4px solid #87bb40;
}

.dropdown-menu {
  background-color: #87bb40;
  border: 0 none;
}

.navbar ul.dropdown-menu li {
  border-bottom-color: #102d50;  
}

.navbar ul.dropdown-menu li:last-child {
  border-bottom: 0 none;
}

.navbar ul.dropdown-menu li:hover {
  background-color: #21424e;
}

.navbar ul.dropdown-menu li a {
  color: #fff;
}

.navbar ul.dropdown-menu li a:hover {
  color: #fff;
  left: 0;  
}

/* change opacity in carousel */
.home-carousel .dark-mask {
  opacity: 0.8;
  filter: alpha(opacity=80);
  background: #082451;
}

.home-carousel .owl-carousel {
  padding-top: 20px;
}

.home-carousel .owl-theme .owl-controls .owl-page span {
  background-color: #00549e;
  width: 10px;
  height: 10px;
}

.home-carousel .owl-theme .owl-controls .owl-page:hover span,
.home-carousel .owl-theme .owl-controls .owl-page.active span {
  background-color: #1fc4f4;
}

.home-carousel .owl-item .item {
  margin-bottom: 50px;
}

.plus-box {
  width: 30px;
}

@media screen {
  .participants .card {
    min-height: 305px;
  }
  .participants .participant-name {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .participants .participant-title {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media (max-width: 890px) {
  .participants .card {
    min-height: 280px;
  }
  .participants .participant-name {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .participants .participant-title {
    font-size: 13px;
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  .participants .card {
    min-height: 315px;
  }
  .participants .participant-name {
    font-size: 15px;
    font-size: 1.5rem;
  }
  .participants .participant-title {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media (max-width: 560px) {
  .participants .card {
    min-height: 255px;
  }
  .participants .participant-name {
    font-size: 15px;
    font-size: 1.5rem;
  }
  .participants .participant-title {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
@media (max-width: 450px) {
  .participants .card {
    min-height: 225px;
  }
  .participants .participant-name {
    font-size: 13px;
    font-size: 1.3rem;
  }
  .participants .participant-title {
    font-size: 11px;
    font-size: 1.1rem;
  }
}

img.black-and-white {
	filter: grayscale(1);
}

img.black-and-white.participant {
	width: 140px;
  margin-bottom: 10px;
}

.participants {
  background: #f9f9f9;
}
.participants h1 {
  padding-bottom: 20px;
}
.participants .card {
  background-color: white;
  border: 1px solid;
  border-radius: 0.5em;
  border-color: #f2f2f2;
  margin-bottom: 20px;
}
.participants .card:hover {
  background-color: #87BB40;
}
.participants .card:hover .participant-name {
  color: white;
}
.participants .card:hover .participant-title {
  color: white;
}
.participants .card .card-top {
  padding-bottom: 0px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Oswald';
}
.participants .card .card-top img {
  width: 90%;
  border-radius: 0.5em;
  border-color: #f2f2f2;
}
.participants .card .card-block {
  color: white;
  text-align: center;
}
.participants .participant-name {
  font-family: 'Oswald';
  color: #333333;
}
.participants .participant-title {
  padding: 4px;
  color: #00549E;
}
.participants a:link {
  text-decoration: none;
}

img.participants {
  width: 150px;
}
.edit-link ul.github {
  list-style: none;
  padding-left: 0;
}
.edit-link ul.github li {
  display: inline-block;
}
.edit-link ul.github li a {
  display: inline-block;
  padding: 5px;
  border: solid 1px #082451;
  border-radius: 0;
  color: #082451;
  margin: 5px 5px 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 700;
  font-size: 12px;
}
.edit-link ul.github li a:hover {
  color: #8FC43E;
  text-decoration: none;
  border-color: #8FC43E;
}

p.carousel-header-title {
  padding-top: 60px;
  font-family: 'Oswald' !important;
  font-size: 36px;
  font-weight: medium;
  text-transform  : uppercase;
  color: #87BB40;
}

.home-carousel ul {
	text-transform:none;
	font-size: 36px;
	font-weight: 100;
	letter-spacing: normal;  
}

.home-carousel ul li {
  font-family: 'Roboto', serif !important;
  font-weight: 500;
  color: #5bdaff;
}

div.home-carousel {
	padding-top:20px !important;
	text-align: left !important;
}

div.home-carousel .btn {
  background-color: #87bb40;
  color: white;
  font-family: 'Oswald';
  font-weight: normal;
  padding: 11px 24px;
  font-size: 16px;
}

/* PArticipants */
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexbox-center {
  justify-content: space-around;
}

.participant-item {
    margin-bottom: 50px;
    text-align: center;
    margin-left: 5 auto;
    background-color: #f9f9f9;
    width: 140px;
}

.participant-item img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.participant-item p {
    margin-top: 0;
}
.participant-item h3 {
    text-transform: none;
    font-weight: 600;
    color: #333;
    font-family: 'Oswald';
}

.participant-item h4 {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    color: #777;
    margin-bottom: 0px;
}

.participant-item h4 a {
    text-transform: none;
    font-family: 'Oswald';
}

.participant-item h5 {
    font-size: 14px;
    text-transform: none;
    font-style: italic;
    font-weight: 200;
    color: #777;
    margin-bottom: 15px
}

.participant-item .report  {
    margin-top: 0px;
}

.participant-item h5 a {
    text-transform: none;
}

.participant-item ul {
    list-style: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}

.team-bio {
    padding: 15px
}

ul.social-buttons {
    margin-top: 20px;
    margin-bottom: 10px;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    text-align: center;
    color: #fff;
    background-color: #00549E;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}

ul.social-buttons li a i.fa {
  text-align:center;
}
/* Sponsors */

#sponsors .sponsors-item {
    right: 0;
    margin: 0 0 15px;
}

#sponsors .sponsors-item .sponsors-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#sponsors .sponsors-item .sponsors-link .sponsors-hover {
    position: absolute;
    width: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#sponsors .sponsors-item .sponsors-link .sponsors-hover:hover {
    opacity: 1;
}

#sponsors .sponsors-item .sponsors-link .sponsors-hover .sponsors-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#sponsors .sponsors-item .sponsors-link .sponsors-hover .sponsors-hover-content i {
    margin-top: -12px;
}

#sponsors .sponsors-item .sponsors-link .sponsors-hover .sponsors-hover-content h3,
#sponsors .sponsors-item .sponsors-link .sponsors-hover .sponsors-hover-content h4 {
    margin: 0;
}

#sponsors .sponsors-item .sponsors-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#sponsors .sponsors-item .sponsors-caption h4 {
    margin: 0;
    text-transform: none;
    color: white;
    background-color: green;
}

#sponsors .sponsors-item .sponsors-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#sponsors * {
    z-index: 2;
}

#sponsors .platinum {
  width: calc(100% / 3);
}

#sponsors .gold {
  width: calc(100% / 4);
}

#sponsors .silver {
  width: calc(100% / 5);
}

@media(min-width:767px) {
    #sponsors .sponsors-item {
        margin: 0 0 30px;
    }
}

ul.list-style-none li.roboto-slab-big {
  font-family: 'Roboto Slab', serif !important;
  font-size: 60px;
  color: #fff;
}

ul.list-style-none li a.green {
    font-size: 16px;
    font-family: "Oswald-Medium";
    text-transform: uppercase;
    color: #fff;
    background-color: #87bb40;
    padding: 15px;
}
/* CArousel */
/*.homepage .owl-wrapper-outer {
  background-color: #082451;
}*/

.smaller {
  width: 70%;
}
.home-carousel .waves {
  display: none;
  /*position: absolute;
  left: 0;
  right: 0;
  bottom: 0;*/
}

div.waves {
	display:none
}

.align-flex-center {
  align-items:center;
}

/* IE 10/11... */
@media (min-width:700px){
  .oss-grid{
    display:grid;
    -ms-grid-gap:30px
  }
  .oss-grid--3{
    -ms-grid-columns: 1fr 1fr 1fr;
  }
}
@supports (display: grid){
  @media (min-width:700px){
    .oss-grid{
      display:grid;
      grid-gap:30px;
    }
    .oss-grid--3{
      grid-template-columns: repeat(2, 1fr);
    }
    .oss-grid .panel{
      /* grid-gap takes care of that */
      margin-bottom:0;
    }
    .oss-grid .panel-with-btn{
      position: relative;
      padding-bottom:calc(3em + 15px);
    }
    .oss-grid .panel-with-btn .btn{
      position: absolute;
      bottom:15px;
    }
  }
  @media (min-width:992px){
    .oss-grid--3{
      grid-template-columns: repeat(3, 1fr);
      -ms-grid-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen {
  .get-your-ticket .ticket-box {
    padding: 40px;
    min-height: 490px;
  }
  .get-your-ticket .title {
    font-size: 45px;
    font-size: 4.5rem;
  }
  .get-your-ticket .ticket-type {
    font-size: 26px;
    font-size: 2.6rem;
  }
  .get-your-ticket .price {
    font-size: 45px;
    font-size: 4.5rem;
  }
  .get-your-ticket .currency {
    font-size: 26px;
    font-size: 2.6rem;
  }
  .get-your-ticket .ticket-duration {
    font-size: 22px;
    font-size: 2.2rem;
  }
  .get-your-ticket .glyphicon {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
@media (max-width: 950px) {
  .get-your-ticket .ticket-box {
    padding: 30px;
    min-height: 460px;
  }
  .get-your-ticket .title {
    font-size: 43px;
    font-size: 4.3rem;
  }
  .get-your-ticket .ticket-type {
    font-size: 22px;
    font-size: 2.2rem;
  }
  .get-your-ticket .price {
    font-size: 41px;
    font-size: 4.1rem;
  }
  .get-your-ticket .currency {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .get-your-ticket .ticket-duration {
    font-size: 20px;
    font-size: 2rem;
  }
  .get-your-ticket .glyphicon {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
@media (max-width: 840px) {
  .get-your-ticket .ticket-box {
    padding: 20px;
    min-height: 420px;
  }
  .get-your-ticket .title {
    font-size: 41px;
    font-size: 4.1rem;
  }
  .get-your-ticket .ticket-type {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .get-your-ticket .price {
    font-size: 37px;
    font-size: 3.7rem;
  }
  .get-your-ticket .currency {
    font-size: 22px;
    font-size: 2.2rem;
  }
  .get-your-ticket .ticket-duration {
    font-size: 17px;
    font-size: 1.7rem;
  }
  .get-your-ticket .glyphicon {
    font-size: 13px;
    font-size: 1.3rem;
  }
}
@media (max-width: 550px) {
  .get-your-ticket .ticket-box {
    padding: 5px;
    min-height: 385px;
  }
  .get-your-ticket .title {
    font-size: 39px;
    font-size: 3.9rem;
  }
  .get-your-ticket .ticket-type {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .get-your-ticket .price {
    font-size: 33px;
    font-size: 3.3rem;
  }
  .get-your-ticket .currency {
    font-size: 20px;
    font-size: 2rem;
  }
  .get-your-ticket .ticket-duration {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .get-your-ticket .glyphicon {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.get-your-ticket {
  padding-top: 20px;
  padding-bottom: 80px;
  background: white;
}
.get-your-ticket .title {
  font-family: 'Oswald';
  color: #333333;
  padding-bottom: 50px;
  text-transform: uppercase;
}
.get-your-ticket .ticket-box {
  text-align: center;
  color: white;
}
.get-your-ticket .green-box {
  background-color: #87BB40;
}
.get-your-ticket .green-box .price {
  color: #00549E;
}
.get-your-ticket .green-box .btn-primary {
  background-color: #00549E;
}
.get-your-ticket .blue-box {
  background-color: #00549E;
}
.get-your-ticket .blue-box .price {
  color: #87BB40;
}
.get-your-ticket .blue-box .btn-primary {
  background-color: #87BB40;
}
.get-your-ticket .ticket-type {
  font-family: 'Oswald';
  text-transform: uppercase;
}
.get-your-ticket .price {
  font-family: 'Oswald';
}
.get-your-ticket .currency {
  padding: 5px;
}
.get-your-ticket .ticket-duration {
  padding-bottom: 40px;
}
.get-your-ticket .glyphicon-ok {
  color: white;
  padding-bottom: 20px;
}
.get-your-ticket .item {
  color: white;
  padding-left: 5px;
  font-family: 'Roboto Slab';
}
.get-your-ticket .buy-ticket {
  font-family: 'Oswald';
  padding-bottom: 20px;
  text-align: center;
}
.get-your-ticket .buy-ticket a {
  text-transform: uppercase;
  color: white;
}

// Visual clues for sessions
.clues {
  padding: 0;
}
.clues ul.visual-clues {
  list-style: none;
  margin-left: -40px;
}
.clues ul.visual-clues li {
  display: inline-block;
}
.clues ul.visual-clues li a {
  display: inline-block;
  padding: 5px;
  border: solid 1px #eeeeee;
  border-radius: 0;
  color: #38a7bb;
  margin: 5px 5px 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 700;
  font-size: 12px;
}
.clues ul.visual-clues li a:hover {
  color: #38a7bb;
  text-decoration: none;
  border-color: #38a7bb;
}

@media (min-width: 992px)
.home-carousel {
    text-align: left !important;
}

div#navigation.navbar-collapse.collapse ul.nav.navbar-nav.navbar-right li.dropdown a {
  font-family: 'Oswald' !important;
  font-weight: normal;
}

div.getting-there {
  padding-top: 20px;
}
div.google-map {
  padding-top: 20px;
}

/* Features style */
.bar.bg-features {
  margin-bottom: 0;
  background: url(../img/feature-bg.png) no-repeat center bottom;
  background-size: contain;
}

.box-simple a {
  display: block;
  text-align: left;
  min-height: 230px;
  border-radius: 8px;  
  padding: 60px 8px 60px 25px;
}

.box-simple a:focus,
.box-simple a:hover {
  text-decoration: none;
  background-color: #eceff1;
}

.box-simple a .icon {
  float: left;
  margin-right: 12px;
  text-align: center;
}

.box-simple a .inner-content {
  margin-left: 82px;
}

.box-simple h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #00549e;
  font-weight: 500;
}

.box-simple p {
  color: #78909c;
  margin-bottom: 0;
  font-size: 13px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.box-simple .icon {
  border-color: transparent;
  width: 70px;
  height: 70px;
}

.box-simple:hover .icon {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;  
}

.box-simple:active a {
  background-color: #00549e;
  text-decoration: none;
}

.box-simple:active h3,
.box-simple:active p {
  color: white;
}

.box-simple:active .icon {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

/* Icon features */

.box-simple .icon i {
  width: 70px;
  height: 70px;
  display: inline-block;  
}

.icon-tickets {
  background: url(../img/features/tickets.png) no-repeat;
  background-size: contain;
}

.icon-venue {
  background: url(../img/features/venue.png) no-repeat;
  background-size: contain;
}

.icon-tracks {
  background: url(../img/features/tracks.png) no-repeat;
  background-size: contain;
}

.icon-faq {
  background: url(../img/features/faq.png) no-repeat;
  background-size: contain;
}

.icon-participants {
  background: url(../img/features/participants.png) no-repeat;
  background-size: contain;
}

.icon-blog {
  background: url(../img/features/blog.png) no-repeat;
  background-size: contain;
}

/* Sponsors style */
.bar.background-lightblue {
  background-color: #e6f4fc;
}

.owl-carousel.customers {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.customers .item img {
  opacity: 0.5;
}

.customers .item img:hover {
  opacity: 1;
}

.heading.custom-border h2 {
  border: 0 none;
}

.heading.custom-border h2:after {
  content: " ";
  display: block;
  width: 33%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 8px;
  background-color: #98c1df;
}
