.tr-schedule {
    border-top      : 3px solid !important;
    border-color    : white !important;
}
.schedule-by-days tr th{
    border          :1px solid;
    text-transform  : uppercase;
    background-color: #87bb40;
    color           : white;
    font-family     : Roboto, sans-serif;
    font-weight     : normal;
    font-size : 16px;
    box-sizing: border-box;
    line-height: 20px;
    padding: 12px
}

.session-time           { font-size: 8px;  color: black  }
.time-col               { min-width:80px;}


/*.villa_mappings h2{ font-size:48px; text-align:center; margin-top:0; position:relative; padding-bottom:30px; margin-bottom:60px; color:#00549e; font-family: 'Oswald', sans-serif; font-weight:600; text-transform:uppercase;} .list_attendees h2:before{ content:""; width:100px; height:10px; margin-left:-50px; position:absolute; left:50%; bottom:0; background:#98c1df;}*/
.villa_mappings ul                   { margin:0 ; padding:0; list-style:none; display:table; border-collapse: separate; border-spacing:16px 8px;}
.villa_mappings ul li:nth-child(6n+6){ margin-right:0;}
.villa_mappings ul li                { display:table-cell; text-align:center; width:20%; background:#fff; border:#eceff1 1px solid; border-radius:8px;padding:0px 5px;}
/*.villa_mappings ul li a{ display:block;}*/
/*.villa_mappings ul li a i img{ border-radius:100%; object-fit:cover; width:135px; height:135px;}*/
.villa_mappings ul li h4            { font-size:18px; text-transform:uppercase; font-family: 'Oswald', sans-serif; font-weight:500; padding:1px; color:#78909c;}
/*.villa_mappings ul li:hover{ background:#eceff1; border:#eceff1 1px solid; text-decoration:none;}*/
/*.villa_mappings ul li:focus a{ text-decoration:none;}*/
/*.villa_mappings ul li:hover a h4{ color:#00549e;}*/
/*.villa_mappings ul li:hover a, .list_attendees ul li a:focus{ text-decoration: none;}*/
/*.villa_mappings ul li:active { background:#00549e; border:#00549e 1px solid;}*/
/*.villa_mappings ul li:active a h4{ color:#fff;}*/
.villa_mappings .villa_type         { font-size: 12px; font-family: 'Oswald', sans-serif; }