.schedule-by-days tr th{
    border          :1px solid;
    text-transform  : uppercase;
    background-color: #87bb40;
    color           : white;
    font-family     : Roboto, sans-serif;
    font-weight     : normal;
    font-size : 16px;
    box-sizing: border-box;
    line-height: 20px;
    padding: 12px
}

.time-col { min-width:80px;}
.session-time {
    font-size: 8px;
    color: black
}
