{{ $title           := .Params.title }}
{{ $site_Pages      := .Site.Pages }}
{{ range .Params.members }}
    {{ $title := . }}
    {{ range $site_Pages }}

        {{ $page := .}}

        {{ if eq (printf "%T" .Params.organizers) "[]string" }}
            {{ range  .Params.organizers}}
                {{ if eq . $title }}
                    {{ $.Scratch.Add "pages" (slice $page) }}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ if in $title .Params.organizers }}
                {{ $.Scratch.Add "pages" (slice $page) }}
            {{ end }}
        {{end }}

        {{ if eq (printf "%T" .Params.participants) "[]string" }}
            {{ range  .Params.participants}}
                {{ if eq . $title }}
                    {{ $.Scratch.Add "pages" (slice $page) }}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ if in $title .Params.participants }}
                {{ $.Scratch.Add "pages" (slice $page) }}
            {{ end }}
        {{end }}

        {{ if in .Params.title $.Params.sessions}}
            {{ $.Scratch.Add "pages" (slice $page) }}
        {{ end }}
    {{ end }}
{{ end }}



{{ $pages := .Scratch.Get "pages" }}

<h3>{{ .Params.title }} Daily Schedule</h3>
{{ partial "schedule/table.html" (dict "self" . "pages" $pages ) }}