<div class="about_sec">
    <div class="row">
        <div class="col-sm-8">
            <p>The Open Security Summit 2018 is focused on the collaboration between Developers and Application Security.
                <br><br>
                Using the same model as the previous OWASP Summits, this 5-day event will be a high-energy experience, during
                which attendees get the chance to work and collaborate intensively. This is not a conference with uni-directional
                presentations. Every thoroughly prepared working session is geared towards a specific Application Security
                challenge and will be focused on actionable outcomes.<br><br>

                If you care about Application Security and want to collaborate with the key players in this industry,
                this is the event to be at.</p>
        </div>
        <div class="col-sm-4"><img src="/img/blocks/bio.png" class="img-responsive" alt="img"></div>
    </div>
</div>