<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

  <div id="all">

    {{ block "nav" . }}

    <header class="full-bg background-default">
      {{ partial "nav.html" . }}
    </header>

    {{ end }}

    {{ block "breadcrumbs" . }}

      {{ partial "breadcrumbs.html" . }}

    {{ end }}

    <div id="content">
      {{ if isset .Params "id" }}

      {{ partial .Params.id . }}

      {{ else if isset .Params "manage-container" }}
      <div class="container-managed">
        {{ block "full-content" . }}

        {{ .Content }}

        {{ end }}

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ partial "edit-link" . }}
            </div>
          </div>
        </div>

      </div>
      {{ else }}
      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <div>
              {{ block "content" . }}

              {{ .Content }}

              {{ end }}

              {{ partial "edit-link" . }}
            </div>

          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->

      {{ end }}
    </div>
    <!-- /#content -->

    {{ block "footer" . }}
      {{ partial "footer.html" . }}
    {{ end }}

  </div>
  <!-- /#all -->

  {{ partial "scripts.html" . }}

</body>
</html>
