{{ define "nav" }}
<header class="full-bg background-participants">

  <div class="dark-mask"></div>

  {{ partial "nav.html" . }}

</header>
{{ end }}

{{ define "breadcrumbs" }}

<div class="inner_main_participants">
  <div class="center_heading">
    <div class="container">
        <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

{{ end }}

{{ define "content" }}

<div class="page-content" style="padding-top: 15px;">
  {{ .Content }}

  <div class="participants-remote">
    <h2 class="text-center white">Remote participants see <a class="btn btn-lg btn-info" role="button" href="/participant-remote">here</a></h2>
  </div>

  <div id="participants" class="participants">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Current list of Summit attendees</h2>
          </div>
        </div>
        <div class="row">
          <div class="flexbox">
            {{ $local := where .Data.Pages ".Params.type" "participant" }}
            {{ range $local }}
              {{ if .Params.title }}
                {{ partial "participant/card.html" . }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div><!-- container -->
  </div><!-- participants -->

</div>

  {{ end }}
