<style>
    .tracks-home-page .panel {
        border: 5px solid;
        border-radius: 10px;
        color: #87bb40;
    }
    .tracks-home-page .panel-title {
        font-size: 180%;
    }
    .tracks-home-page .lead {
        color: #555555
    }
    .tracks-home-page .btn {
        border-radius: 10px;
        padding:5px 10px 5px 10px;
        text-align: right;
        background-color: #00549e;
        border-color: #00549e;
    }
    .tracks-home-page .lead {
        padding: 10px;
        margin: 0px;
    }
</style>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading custom-border text-center">
                    <h2 class="no-margin">Summit Tracks</h2>
                </div>

                <div class="oss-grid oss-grid--3 tracks-home-page">
                    {{ $tracks := where .Site.Pages ".Params.type" "track" }}
                    {{ range $index, $element := $tracks }}
                        <div class="panel panel-default panel-with-btn">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ truncate 45 .Title }}</h3>
                            </div>
                            <p class="lead">{{ .Params.description }}</p>
                            <div class="clues">
                                <ul class="visual-clues">
                                    <li><a class="bg-success" href=""><i class="fa fa-check-square-o"></i> featured sessions </a></li>
                                </ul>
                                <ul>
                                    {{ range where (where .Site.Pages ".Params.track" .Title) ".Params.featured" "eq" true }}
                                    <li><a href="{{.Permalink}}"> {{.Params.title}}</a></li>
                                    {{ end }}
                                </ul>
                            </div>
                            <div class="panel-body">
                                <a class="btn btn-lg btn-success pull-right" role="button" href="{{ .Permalink }}">See all sessions</a>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
