{{ $pages   := where .self.Site.Pages ".Params.track" .title }}

<p>Total sessions for this track: <span class="badge">{{ len $pages }}</span></p>

{{ range $pages }}
{{/* .Title */}}
{{ end}}

{{ partial "schedule/table.html" (dict "self" .self "pages" $pages ) }}

<div class="hidden-print">
    <h5>Sessions not mapped to an day and time </h5>
    <ul>
        {{ partial "schedule/no-mappings-for-day.html" (dict "pages" $pages) }}
    </ul>
    <hr/>
    (back to all track's <a href="/schedule/tracks">schedule</a>)
</div>
