{{ $.self.Scratch.Delete "Mon" }}
{{ $.self.Scratch.Delete "Tue" }}
{{ $.self.Scratch.Delete "Wed" }}
{{ $.self.Scratch.Delete "Thu" }}
{{ $.self.Scratch.Delete "Fri" }}
{{ range .pages  }}
    {{ if in .Params.when_time $.time }}
        {{ if ne (trim .Params.when_day "") "" }}
            {{ $.self.Scratch.Add .Params.when_day (slice .) }}
        {{ end }}
    {{ end }}
{{ end }}

<tr>
    <td><b>{{.time}}</b></td>
    <td>{{ partial "schedule/track-cell.html" (dict "self" .self "day" "Mon" )}}</td>
    <td>{{ partial "schedule/track-cell.html" (dict "self" .self "day" "Tue" )}}</td>
    <td>{{ partial "schedule/track-cell.html" (dict "self" .self "day" "Wed" )}}</td>
    <td>{{ partial "schedule/track-cell.html" (dict "self" .self "day" "Thu" )}}</td>
    <td>{{ partial "schedule/track-cell.html" (dict "self" .self "day" "Fri" )}}</td>
</tr>


