---
title        : SAMMv2 working session - Verification
type         : working-session
track        : Owasp SAMM
technology   :
categories   :                      # GDPR, Juice Shop, etc.
featured     :                    # review with summit team "yes"
when_day     : Wed
when_time    : AM-1
room_layout  :                    #
room_number  :
status       : review-content              # draft, review-content, done
description  : multiple working sessions on the new SAMMv2
organizers   :
    - Sebastien Deleersnyder
participants:
    - Yan Kravchenko
    
---

One working session per business function
