---
title        : SAMMv2 working session - Verification
type         : working-session
track        : Maturity Models
technology   :
categories   :                      # GDPR, Juice Shop, etc.
featured     :                    # review with summit team "yes"
when_day     : Wed
when_time    : AM-1
room_layout  :                    #
room_id      :
session_slack: https://os-summit.slack.com/messages/CAVDG3ZT4
status       : review-content              # draft, review-content, done
description  : multiple working sessions on the new SAMMv2
meet_url     : #URL to the relevant Google Meet Room thus the remote participants can join a session
organizers   :
    - Sebastien Deleersnyder
participants:
    - Yan Kravchenko
    - Mark-David McLaughlin
---

One working session per business function
