{{ define "nav" }}
<header class="full-bg background-outcomes">

  <div class="dark-mask"></div>

  {{ partial "nav.html" . }}

</header>
{{ end }}


{{ define "breadcrumbs" }}

    <div class="inner_main_outcomes">
        <div class="center_heading">
            <div class="container">
                <h1>Outcomes</h1>
            </div>
        </div>
    </div>

{{ end }}

{{ define "content" }}

<div class="col-md-12">
  <div class="outcome-content col-md-8">
    <h1>{{ .Title }}</h1>
    View the <a href="#">original Working Session content</a>
    <hr />
  </div>
  <div class="grey-sidebar col-md-4">
    &nbsp;
  </div>
</div>

<div class="col-md-12">
  <div class="outcome-content col-md-8">
    {{ partial "widgets/outcome-clues.html" . }}

    {{ .Content }}
  </div>
  <div class="outcome-sidebar col-md-4">
    {{ partial "outcomes/sidebar.html" . }}
  </div>
  <hr/>
  <a href="/outcomes/">Back to list of all Outcomes</a>
</div>

{{ end }}
