{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white bg-features">
    <div class="container">
      <h3>The place where AppSec comes to make change happen.</h3>

      <p>Join us for this unique event where you will connect, learn and collaborate. Not just your usual conference with plenaries and a single stream, the Open Security Summit takes you away from your everyday work and immerses you in Working Sessions to collaborate and come up with deliverables, and User Sessions to upskill and get hand-on experience, as well as plenty of opportunity to network with some of the most-skilled professionals in this field.</p>

      <p>Set in 365 acres of natural woodland at Woburn Forest Center Parcs, the Summit gives you the opportunity to focus all your energy on the here-and-now, hang out with some cool people and leave knowing you are at the top of your game.</p>
    </div>  
    <div class="container">
        {{ range $index, $element := sort .Site.Data.features "weight" }}
		{{ if eq (mod $index 3) 0 }}
		<div class="col-md-12">
            <div class="row">
		{{ end }}
				<div class="col-md-4">
                    <div class="box-simple">
                      <a href="{{ .link }}">
                        <div class="icon">
                          <i class="{{ .icon }}"></i>
                        </div>
                        <div class="inner-content">
                            <h3>{{ $element.name }}</h3>                        
                            <p>{{ $element.description | markdownify }}</p>                            
                        </div>
                      </a>
                    </div>
                </div>
		{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.features) 1 )) }}
			</div>
		</div>
		{{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
