<h1>Tracks</h1>
<p>Here are the current Tracks (with multiple Working Sessions)</p>

<div class="oss-grid oss-grid--3">
    {{ $tracks := where .Site.Pages ".Params.type" "track" }}
    {{ range $index, $element := $tracks }}
        <div class="panel panel-default panel-with-btn">
            <div class="panel-heading">
                <h3 class="panel-title">{{ truncate 45 .Title }}</h3>
            </div>
            <div class="panel-body">
                <p class="lead">{{ .Params.description }}</p>
                <a class="btn btn-lg btn-success" role="button" href="{{ .Permalink }}">{{ truncate 45 .Title }}</a>
            </div>
        </div>
    {{ end }}
</div>
