<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header class="full-bg background-photogrid">

          <div class="dark-mask"></div>
          {{ partial "top.html"         . }}
          {{ partial "nav.html"         . }}
        </header>
        {{ partial "home-after-summit/group-photo.html"  . }}
        {{ partial "home-after-summit/outcomes.html" . }}
        {{ partial "home-after-summit/cards.html" . }}
        {{ partial "home-after-summit/reactions.html" . }}
        {{ partial "home-after-summit/sponsors.html" . }}
        {{ partialCached "footer.html"                       . }}

    </div>
    <!-- /#all -->

    {{ partialCached "scripts.html" . }}

  </body>
</html>
