<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header class="full-bg background-photogrid">

          <div class="dark-mask"></div>
          {{ partial "top.html"         . }}
          {{ partial "nav.html"         . }}
          {{/* partial "carousel.html"  . */}}
        </header>
        {{ partial "home-during-summit/question-cards.html"  . }}
        {{ partial "home-during-summit/today-schedule.html"  . }}
        {{ partial "home-during-summit/photo-galery.html"  . }}
        {{/* partial "home-during-summit/latest-outcomes.html" . */}}
        {{ partial "home-during-summit/whats-next.html" . }}
        {{ partial "home-during-summit/sponsors.html" . }}
        {{ partialCached "footer.html"                       . }}

    </div>
    <!-- /#all -->

    {{ partialCached "scripts.html" . }}

  </body>
</html>
