<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header class="full-bg background-photogrid">

          <div class="dark-mask"></div>
          {{ partial "top.html"         . }}
          {{ partial "nav.html"         . }}
          {{ partial "carousel.html"    . }}
        </header>
        {{ partial "home-page/intro.html"         . }}
        {{ partial "home-page/tracks.html"        . }}
        {{ partial "home-page/topics.html"        . }}
        {{ partial "home-page/featured.html"      . }}
        {{ partial "home-page/session-types.html" . }}
        {{ partial "home-page/features.html"      . }}
        {{ partial "home-page/sponsors.html"      . }}
        {{ partial "footer.html"        . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
