<section class="bar background-white no-mb">

    <div class="container text-center">
        <div class="heading custom-border text-center">
            <h1 class="no-margin">Recent Outcomes</h1>
        </div>

        {{ range where .Site.Data.home.after_summit.cards ".title" "!=" "empty"}}
        <div class="col-lg-3 col-md-3 col-sm-12" style="height:300px;">
          <div class="oss-card-small">
            <div class="oss-card-small-title">
              <a href="{{ .more_info }}">
                <h3>{{ .title | upper }}</h3>
              </a>
            </div>
            <div class="oss-card-small-body">
              <div class="">
                <ul class="featured">
                  {{ range .outcomes }}
                  <li class="featured">
                    <a href="{{ .link }}">{{ .title }}</a>
                  </li>
                  {{ end }}
                </ul>
                <div class="oss-card-small-bottom">
                  <a href="{{ .more_info }}" class="btn oss-card-small-button">More information</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
    </div>
</section>
