---
title        : SAMMv2 working session - Verification
layout       : blocks/outcome

---


## Outcomes



## Synopsis and Takeaways
